.git
.env
config.json
config.py
config_with_docker.py
config_without_docker.py
abstracts_to_csv.py
/data
delete_all_publications.py
venv

.ipynb_checkpoints/
Agreement.ipynb
AssessmentOrder.ipynb
Bibliography.ipynb
Classification_Tutorial.ipynb
Classification.ipynb
checkpoint
Housing.ipynb
imdb.pkl
log.ipynb
logs
ml_notebook.ipynb
ml_notebook_svm.ipynb
ml_notebook_tensorflow_abstracts.ipynb
ml_notebook_tensorflow_final.ipynb
ml_notebook_tensorflow_titles.ipynb
Relevance.ipynb
search_scopus.ipynb
