*.pyc
*~
__pycache__
venv
db.sqlite3
/static
.DS_Store
config.json
config.py
logs
Housing.ipynb
Classification_Tutorial.ipynb
Classification.ipynb
Bibliography.ipynb
Relevance.ipynb
search_scopus.ipynb
AssessmentOrder.ipynb
.ipynb_checkpoints/
/datasets
delete_all_publications.py