<h1>{{ search_topic.topic|capfirst }}</h1>

<p><a href="{% url 'assessments' slug=search_topic.slug pk=next_assessment %}">Your next assessment</a> <span class="warning">(start or restart here)</span></p>

<p>
  Publications: {{ publications_count }}
  <br />Assessments: {{ publications_assessed_count }} ({{ publications_assessed_percent }}% complete)
</p>

<p>
  <a href="{% url 'topics' slug=search_topic.slug state='relevant' %}">Your relevant publications</a>
  <br /><a href="{% url 'topics' slug=search_topic.slug state='irrelevant' %}">Your irrelevant publications</a>
</p>

<p>
  <a href="{% url 'topics' slug=search_topic.slug state='assessed' %}">Your assessed publications</a>
  <br /><a href="{% url 'topics' slug=search_topic.slug state='unassessed' %}">Your unassessed publications</a>
</p>

<p>
  <a href="{% url 'scoreboard' %}">Scoreboard</a>
  <br /><a href="{% url 'topics' slug=search_topic.slug %}">All relevant publications</a> (<a href="{% url 'download_csv' slug=search_topic.slug %}">CSV</a> | <a href="{% url 'download_ris' slug=search_topic.slug %}">RIS</a>)
</p>

{% if search_topic.topic == 'existential risk' %}
  {% include 'engine/existential_risk_sidebar.html' %}
{% endif %}
