<h1>Bibliography</h1>
<p>
  {% if user.is_authenticated %}
      <a href="{% url 'topics' slug='existential-risk' state='relevant' %}">Existential risk</a>
  {% else %}
      <a href="{% url 'topics' slug='existential-risk' %}">Existential risk</a>
  {% endif %}
  (<a href="{% url 'download_csv' slug='existential-risk' %}">CSV</a> | <a href="{% url 'download_ris' slug='existential-risk' %}">RIS</a>)
</p>
<p>
  Other bibliographies are to be announced for specific x-risks (e.g., artificial intelligence or asteroid impact).
</p>

<h1>Bibliography (ML)<sup>***</sup></h1>
<p>Existential risk:</p>
<p class="indented">
  <a href="{% url 'topics' slug='existential-risk' state='low_recall' %}">Low recall</a> (<a href="{% url 'download_csv' slug='existential-risk' state='low_recall' %}">CSV</a> | <a href="{% url 'download_ris' slug='existential-risk' state='low_recall' %}">RIS</a>)
</p>
<p class="indented">
  <a href="{% url 'topics' slug='existential-risk' state='medium_recall' %}">Medium recall</a> (<a href="{% url 'download_csv' slug='existential-risk' state='medium_recall' %}">CSV</a> | <a href="{% url 'download_ris' slug='existential-risk' state='medium_recall' %}">RIS</a>)
</p>
<p class="indented">
  <a href="{% url 'topics' slug='existential-risk' state='high_recall' %}">High recall</a> (<a href="{% url 'download_csv' slug='existential-risk' state='high_recall' %}">CSV</a> | <a href="{% url 'download_ris' slug='existential-risk' state='high_recall' %}">RIS</a>)
</p>
<p>
  <sup id="***">***</sup>Publications predicted to be relevant by our <a href="{% url 'ml' %}">Machine Learning</a> (ML) model, but not yet assessed by humans and thus not yet in the non-ML bibliography
</p>
