<h1>Bibliography</h1>
<p>
  <a href="{% url 'topics' slug='existential-risk' %}">Existential risk</a>
  (<a href="{% url 'download_csv' slug='existential-risk' %}">CSV</a> | <a href="{% url 'download_ris' slug='existential-risk' %}">RIS</a>)
</p>
<p>
  Other bibliographies are to be announced for specific x-risks (e.g., artificial intelligence or asteroid impact).
</p>
<form action="/search/existential-risk/" method="get">
  <table class="search">
    <tr>
      <td class="search"><input name="q" type="text" /></td>
    </tr>
  </table>
  <p>
    <input type="submit" name="search" value="Search the bibliography" />
  </p>

</form>

<h1>Bibliography (ML)<sup>***</sup></h1>
<p>Existential risk:</p>
<p class="indented">
  <a href="{% url 'topics' slug='existential-risk' state='low_recall' %}">Low recall</a> (<a href="{% url 'download_csv' slug='existential-risk' state='low_recall' %}">CSV</a> | <a href="{% url 'download_ris' slug='existential-risk' state='low_recall' %}">RIS</a>)
</p>
<p class="indented">
  <a href="{% url 'topics' slug='existential-risk' state='medium_recall' %}">Medium recall</a> (<a href="{% url 'download_csv' slug='existential-risk' state='medium_recall' %}">CSV</a> | <a href="{% url 'download_ris' slug='existential-risk' state='medium_recall' %}">RIS</a>)
</p>
<p class="indented">
  <a href="{% url 'topics' slug='existential-risk' state='high_recall' %}">High recall</a> (<a href="{% url 'download_csv' slug='existential-risk' state='high_recall' %}">CSV</a> | <a href="{% url 'download_ris' slug='existential-risk' state='high_recall' %}">RIS</a>)
</p>
<p>
  <sup id="***">***</sup>Publications predicted to be relevant by our <a href="{% url 'ml' %}">Machine Learning</a> (ML) model, but not yet assessed by humans and thus not yet in the non-ML bibliography
</p>
