<h1>Inclusion criteria</h1>
<p>Relevant publications should include at least one criterion from the following list.</p>
<ul>
  <li>Discussion of existential risk or global catastrophic risk <span class="italic">per se</span></li>
  <li>Assessment of such a risk (e.g., the probability or impact of nuclear winter in the event of nuclear war)</li>
  <li>Discussion of a strategy for managing such a risk (e.g., strategic food reserves to mitigate the risk of human extinction from catastrophes that destroy crops)</li>
  <li>Comparison of these risks (e.g., the relative risk of human extinction from asteroid impact compared to artificial intelligence)</li>
  <li>Philosophical discussion that is relevant to these risks (e.g., the "value" of the future lives that would be saved by preventing the extinction of the human species)</li>
</ul>
