{% extends 'engine/base.html' %}


{% block title %}
  Existential Risk Research Network | X-Risk Research Network | www.x-risk.net
{% endblock %}


{% block css %}
  {% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

<h1>Existential Risk (X-Risk)</h1>
<p>Existential risk is the risk of human extinction or the collapse of human civilization.</p>

<h1>The Existential Risk Research Assessment (TERRA)</h1>
<p>Using crowdsourcing and machine learning, we produce an open-access bibliography of publications about existential risk and global catastrophic risk. Please see <a href="https://doi.org/10.1016/j.futures.2019.102508" target="_blank">our publication in Futures</a> for more information.</p>

<h1>Recent Publications</h1>
<p>For a list of publications that were recently added to this bibliography, please see the <a href="https://www.cser.ac.uk/news/recent-publications-existential-risk-january-2019-/" target="_blank">CSER website</a>.</p>

<h1>Participate in TERRA</h1>
<p>To help us keep this bibliography up to date, please <a href="{% url 'signup' %}">sign up</a> and read the <a href="{% url 'methods' %}">methods.</a> You can also download the bibliography from this website.</p>

{% endblock %}


{% block sidebar %}
  {% include 'engine/bibliography_sidebar.html' %}
{% endblock %}
