{% extends 'engine/base.html' %}

{% block title %}
    Scoreboard | The Existential Risk Research Assessment | www.x-risk.net
{% endblock %}

{% block css %}{% load staticfiles %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

  <h1>Scoreboard</h1>

  <p>The more publications you assess, the more data we will have for machine learning. For quality control, your assessments will be compared to assessments made by other people, so please think carefully about the <a href="{% url 'methods' %}"> Inclusion Criteria</a>.</p>

  <table>
    <tr>
      <td class="scoreboard"><span class="heading">Name</span></td>
      <td class="scoreboard"><span class="heading">Institution</span></td>
      <td class="scoreboard"><span class="heading">Assessments</span></td>
    </tr>
    {% for score in scoreboard|dictsortreversed:"publication_count" %}
      <tr>
        <td class="scoreboard">{{ score.first_name}} {{ score.last_name}}</td>
        <td class="scoreboard">{{ score.institution }}</td>
        <td class="scoreboard">{{ score.publication_count }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}

{% block sidebar %}
  {% include 'engine/bibliography_sidebar.html' %}
{% endblock %}
